{
    "project": "This is the name of the project",
    "db": "SQLAlchemy connection string to the database (see README for more info)",
    "tables": 
    {
        "table_name": 
        {
            "price": "Column name of pricing column",
            "timestamp": "Column name of timestamp column",
            "groupable": ["List of columns that can be used to group the data"],
            "covariates": ["List of columns that can be aggregated"]
        }
    }
}
